<script context="module">
	export const load = async ({ fetch }) => {
		const blocks = await fetch('/api/blocks.json');
		const allBlocks = await blocks.json();

		return {
			props: {
				blocks: [...allBlocks]
			}
		};
	};
</script>

<script>
	import { onMount } from 'svelte';
	export let blocks;
	import Markdown from '$lib/componenten/Markdown.svelte';
	// import Foobar from './01-headings-and-subheadings.md';
	// console.log(blocks);
	onMount(() => {
		document.querySelector('.loading').style.cssText += 'display: none';
	})
</script>

<svelte:head>
	<script src="https://cdn.tailwindcss.com"></script>
</svelte:head>

<div class="slides">
	{#each blocks as block}
		<Markdown markdown={block} />
	{:else}
		Geen block
	{/each}
</div>

<div class="loading">
	<span>
		Loading ...
	</span>
</div>