<script>
	import MarkdownIt from 'markdown-it';
	import emojis from 'markdown-it-emoji';
	import footnotes from 'markdown-it-footnote';
	import brackets from 'markdown-it-bracketed-spans';
	import attrs from 'markdown-it-attrs';
	import sup from 'markdown-it-sup';
	import sub from 'markdown-it-sub';
	import anchors from 'markdown-it-anchor';
	import hljs from 'highlight.js';
	// import './css/custom.css'

	import { onMount } from 'svelte';
	import { dataset_dev } from 'svelte/internal';

	export let markdown;

	$: foo = markdown.content;

	onMount(() => {
		// foo = document.querySelector('textarea').innerText;
		// document.querySelector('textarea').innerText = markdown.content;
	});

	// Initialize 'markdown-it'
	const md = new MarkdownIt({
		highlight: function (str, lang) {
			if (lang && hljs.getLanguage(lang)) {
				try {
					// return hljs.highlight(lang, str).value;
					return hljs.highlight(str, { language: lang, ignoreIllegals: true }).value;
				} catch (e) {
					// eslint-disable-next-line no-console
					console.log('Fout bij het highlighten van string');
					console.log(e);
				}
			}
			return ''; // use external default escaping
		},
		html: true,
		linkify: true,
		typographer: true
	});

	// Initialize emoji plugin
	md.use(sup);
	md.use(sub);
	md.use(emojis);
	md.use(footnotes);
	md.use(brackets);
	md.use(anchors);
	md.use(attrs, {
		// https://www.npmjs.com/package/markdown-it-attrs#security
		allowedAttributes: ['id', 'class']
	});

	// Render to an html string
	// const rendered = md.render(markdown)
</script>

{#if markdown}
	<div class="slide">
		<div class="slide">
			<article class="relative block w-full h-auto py-4 pl-6 text-3xl font-semibold text-gray-800">
				<h1 id={markdown.data.slug}>{markdown.data.title}</h1>
			</article>
			<section class="repl">
				<textarea class="editor" bind:value={markdown.content} placeholder="Enter markdown here" />
				<div class="preview">
					<!-- Render with the '@html' directive -->
					{@html md.render(markdown.content)}
				</div>
			</section>
		</div>
	</div>
{:else}
	Geen markdown
{/if}