.red {
    color: red;
}

:root {
    --min-typesize: .75rem;
    --leading-ratio: 1.33;
    --min-leading: var(calc(var(--leading-ratio) * var(--min-typesize)));
}

html {
    /* font-size: clamp(var(--min-typesize), 1.75vw, 1.75vw) */
    font-size: clamp(.75rem, 1.75vw, 1.75vw)
}

body {
    line-height: 1.625
}

.slides {
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

.slide {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: hidden;
    position: relative;
    scroll-snap-align: start;
    width: 100%
}

@media(min-width: 640px) {
    .slide {
        max-height: 100vh
    }
}

.slide {
    scroll-snap-align: start
}

.repl {
    height: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid transparent;
    outline-offset: 2px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    --tw-text-opacity: 1;
    /* color: rgba(45, 55, 72, var(--tw-text-opacity)); */
    width: 100%
}

@media(min-width: 640px) {
    .repl {
        display: inline-flex;
        overflow-y: auto
    }
}

.editor {
    --tw-border-opacity: 1;
    border-color: rgba(45, 55, 72, var(--tw-border-opacity));
    border-bottom-width: 1px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    height: 40%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    overflow-y: hidden;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    --tw-text-opacity: 1;
    @apply text-blue-600
    /* color: rgba(66, 153, 225, var(--tw-text-opacity)) */
}

.editor:focus {
    --tw-text-opacity: 1;
    /* color: rgba(49, 130, 206, var(--tw-text-opacity)) */
    @apply text-blue-700
}

.editor {
    width: 100%;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 100ms
}

@media(min-width: 640px) {
    .editor {
        border-bottom-width: 0px;
        border-right-width: 1px;
        height: 100%;
        font-size: var(--min-typesize);
        line-height: var(--min-leading);
        max-height: 100%;
        min-height: 100%;
        overflow-y: auto;
        padding-bottom: 0px;
        width: 50%
    }
}

.editor:focus {
    overflow-y: auto
}

.preview {
    height: 100%;
    max-height: 100%;
    outline: 2px solid transparent;
    outline-offset: 2px;
    overflow-y: hidden;
    padding-top: 0.5rem;
    vertical-align: text-top;
    width: 100%
}

@media(min-width: 640px) {
    .preview {
        overflow-y: auto;
        padding-top: 0px;
        padding-left: 1.5rem;
        width: 50%
    }
}

.preview strong {
    @apply font-semibold
}

article {
    @apply pt-6
}

article p:nth-child(n+2) {
    @apply indent-6
}

.preview a {
    --tw-text-opacity: 1;
    /* color: rgba(66, 153, 225, var(--tw-text-opacity)) */
    @apply text-blue-600
}

.preview ol ul {
    @apply list-disc;
    /* padding-left: calc(var(--min-typesize) * 1.5); */
}

.preview ol ol {
    @apply list-decimal;
    /* padding-left: calc(var(--min-typesize) * 1.5); */
}

.preview ul {
    list-style-position: inside;
    @apply list-disc
}

.preview ol {
    list-style-position: inside;
    @apply list-decimal;

}

.preview ul:not(.footnotes-list), .preview ol:not(.footnotes-list) {
    padding-left: calc(var(--min-typesize) * 1);
}

.preview ul>li::marker {
    content: '• ';
    @apply text-lg;
    line-height: 1;
}

.preview > ul, .preview > ol {
    padding-left: 0!important;
}

.preview pre {
    font-size: var(--min-typesize);
    line-height: var(--min-leading);
    overflow-wrap: break-word
}

.footnotes {
    font-size: var(--min-typesize);
    line-height: var(--min-leading);
    padding-top: calc(var(--min-typesize) * 2);
}

.footnotes-sep {
    display: none
}

.footnote-item {
    line-height: 1.5;
}

.footnote-item>p:nth-child(1) {
    display: inline;
}

.footnote-item p:nth-child(n+2) {
    text-indent: 1rem
}
.footnote-backref {
    font-family: 'Courier New', Courier, monospace;
}
.footnote-ref>a {
    @apply text-xs
}

.footnote-item>p:nth-child(n+2) {
    
    /* padding-left: calc(var(--min-typesize) * 1.25); */
}

.preview h1 {
    font-weight: 600;
    /* font-size: 3.75rem; */
    font-size: calc(var(--min-typesize) + (var(--min-typesize) * 5));
    line-height: 1;
    margin-bottom: 0.5rem
}

.preview h2 {
    font-weight: 600;
    /* font-size: 3rem; */
    font-size: calc(var(--min-typesize) + (var(--min-typesize) * 4));
    line-height: 1;
    margin-bottom: 0.5rem
}

.preview h3 {
    font-weight: 600;
    /* font-size: 2.25rem; */
    font-size: calc(var(--min-typesize) + (var(--min-typesize) * 3));
    /* line-height: 2.5rem; */
    line-height: 1;
    margin-bottom: 0.5rem
}

.preview h4 {
    font-weight: 600;
    /* font-size: 1.875rem; */
    font-size: calc(var(--min-typesize) + (var(--min-typesize) * 2));
    /* line-height: 2.25rem; */
    line-height: 1;
    margin-bottom: 0.5rem
}

.preview h5 {
    font-weight: 600;
    /* font-size: 1.5rem; */
    font-size: calc(var(--min-typesize) + (var(--min-typesize) * 1));
    /* line-height: 2rem; */
    line-height: 1;
    margin-bottom: 0.5rem
}

.preview h6 {
    font-weight: 600;
    /* font-size: 1.25rem; */
    font-size: calc(var(--min-typesize) + (var(--min-typesize) * 0));
    /* line-height: 1.75rem; */
    line-height: 1;
    margin-bottom: 0.5rem
}

hr {
    --tw-border-opacity: 1;
    border-color: rgba(160, 174, 192, var(--tw-border-opacity));
    border-bottom-width: 2px;
    position: relative
}

#nested-lists~ol {
    --tw-text-opacity: 1;
    color: rgba(246, 135, 179, var(--tw-text-opacity))
}

#nested-lists~ol>li {
    --tw-text-opacity: 1;
    color: rgba(49, 130, 206, var(--tw-text-opacity))
}

#nested-lists~ol>li>ul {
    --tw-text-opacity: 1;
    color: rgba(99, 179, 237, var(--tw-text-opacity))
}

hr::before {
    display: block;
    margin-top: 1.5rem;
    padding-top: 1.5rem
}

blockquote {
    margin-left: 1rem
}

#styling-typography+ul {
    display: inline-flex;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 1;
    list-style-type: none
}

#styling-typography+ul>li:nth-child(odd) {
    --tw-text-opacity: 1;
    color: rgba(237, 100, 166, var(--tw-text-opacity))
}

#styling-typography+ul>li:nth-child(even) {
    --tw-text-opacity: 1;
    color: rgba(236, 201, 75, var(--tw-text-opacity))
}

#letter-spacing+ul {
    display: inline-flex;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: 1;
    list-style-type: none;
    letter-spacing: -.275rem
}

#letter-spacing+ul>li:nth-child(odd) {
    --tw-text-opacity: 1;
    color: rgba(72, 187, 120, var(--tw-text-opacity))
}

#letter-spacing+ul>li:nth-child(even) {
    --tw-text-opacity: 1;
    color: rgba(237, 100, 166, var(--tw-text-opacity))
}

table {
    table-layout: fixed;
    width: 100%
}

table th {
    @apply font-semibold
}

table th,
table td {
    padding-right: 0.5rem;
}

table td {
    line-height: 1;
    vertical-align: top;
    padding-bottom: calc(var(--min-typesize) * .5);
}


#tables~table+p {
    font-size: 0.75rem;
    line-height: 1rem;
    --tw-text-opacity: 1;
    color: rgba(74, 85, 104, var(--tw-text-opacity))
}


.loading {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
}

.loading>* {
    @apply text-blue-600;
    width: auto;
    display: block;
    height: 5rem;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    transform: translate(0, -1rem);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}

#pictogram > img {
    @apply w-full
}